body{
    all: unset;
    background-color: #EFEFEF;
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat';
    font-size: 48pt;
}

h2{
    font-family: 'Montserrat';
    font-size: 44pt;
    font-weight: 400;
    margin: 39px 0px 0px 74px;
}

h3{
    font-family: 'Montserrat';
    font-size: 44pt;
    font-weight: 600;
    margin-left: 57px;
}

p{
    text-indent: 1.5rem;
}

.content-container{
    background-color: white;
    width: calc(100% - 122px - 140px);
    height: auto;
    margin: auto;
    padding: 20px 70px 20px 70px;
    margin-bottom: 89px;
}

.content-container > h1{
    font-style: italic;
    font-weight: bold;
    margin: 0px;
}

nav{
    width: 394px;
    height: fit-content;
    border: 1px solid black;
    margin-top: 79px;
}

nav > h1{
    margin: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #70C3FF;
}

nav > ul{
    font-size: 32pt;
    margin: 48px 0px 48px 34px;
}

main{
    margin-top: 74px;
}

.logo{
    width: 316.76px;
    height: 73px;
    margin: 36px;
}